<h2>Basic File Upload</h2>
@model List<string>

@using (Html.BeginForm("Index",
                        "FileUpload",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{

    <label for="file">Upload Image: </label>
    <input type="file" name="file" id="file" />
    <br> <br>

    <input type="submit" value="Upload Image" />
    <br><br>
    @ViewBag.Message
    <br>

    <h2>Documents List</h2>

    <table>
        <tr>
            <th>File Name</th>
            <th>Link</th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>@Model[i].ToString() </td>
                <td>@Html.ActionLink("Download", "Download", new { ImageName = @Model[i].ToString() }) </td>
            </tr>
        }
    </table>
}
